.parent-container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100vh; /* Adjust the height as needed */
    background-color: rgb(19, 19, 19);
    color: white;
  }
  
  .centered-div {
    padding: 20px;
    border: 1px solid black;
  }