*{
  padding: 0;
  margin: 0;
}
.container{
  height: 100%;
  width: 100%;
  overflow-x: none;
  background-color: rgb(50, 52, 55);
  position: absolute;
  
 
}

#NavList{
  margin: 15px;
  list-style-type: none ;
  display: flex ;
  justify-content: space-between;
  align-items: center;
}

.navcontainer{
  width: 100%;
  background-color: rgb(50, 52, 55);


}

.navlogo{
  font-size: 2rem;
  color: aliceblue;
}
 
#itemflex{
  display: flex;
  gap: 40px;
  
}

#itemflex a{
  color: aliceblue;
  text-decoration: none;

}
.language{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 90px;
  font-size: 30px;
}

.card{
  width: auto;
  height: auto;
  background-color: rgb(50, 52, 55);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
 
  
  
}

.card pre{
  padding: 5px;
  margin-top: 10px;
  font-size: 1.2rem;
}
.content{
  color: white;
  width: auto;
}

.timer{
  color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 150px;
  margin-top: 30px;
  
  
}
.timer p{
  font-size: 30px;
}
.button{
  
  background-color: orange;
  height: 30px;
  width: 8rem;
  border-radius: 10px;
  
}

.buttonstart{
  background-color: orange;
  width: 60px;
  height: 30px;
  border-radius: 10px;
}