
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap');


*{
  padding: 0;
  margin: 0;
}
.container{
  height: 100%;
  width: 100%;
  overflow-x: none;
  background-color: rgb(50, 52, 55);
  position: absolute;
  
 
}

#NavList{
  margin: 15px;
  list-style-type: none ;
  display: flex ;
  justify-content: space-between;
  align-items: center;
}

.navcontainer{
  width: 100%;
  background-color: rgb(50, 52, 55);


}

.navlogo{
  font-size: 2rem;
  color: aliceblue;
  font-style: arial;
  font-weight: bold;
  
}

.typo{
  background-color: rgb(227, 150, 61);
  border-radius: 3px;
  font-size: 2rem;
  margin-left: 5px;
  font-style: arial;
  font-weight: bold;
  padding: 2px;
}
 
#itemflex{
  display: flex;
  gap: 40px;
  
}

#itemflex a{
  color: aliceblue;
  text-decoration: none;
  color: orange;

}
.language{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 70px;
  font-size: 30px;
  color: orange;
  font-family: 'ADLaM Display', cursive;
}

.card{
  width: 1180px;
  height: 450px;
  background-color: rgb(50, 52, 55);
  margin: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
 
}

.card::-webkit-scrollbar{
  display: none;
}

.card pre{
  padding: 5px;
  margin-top: 7px;
  font-size: 1.2rem;
}
.content{
  color: gray;
  width: auto;
}

.timer{
  color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20rem;
  margin-top: 3rem;
  
  
}
.timer p{
  font-size: 30px;
}
#select{
  
  background-color: orange;
  height: 30px;
  width: 6.8rem;
  border-radius: 10px;
  padding: 5px;
  
}
#languageSelector{
  font-family: 'Rubik', sans-serif;
  src :url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
  color: white;
}

.inputField{
  opacity: 0;
}

.correct{
  background-color: green;
  color: white;
  border-radius: 5px;
}
.incorrect{
  background-color: red;
  color: white;
  
}
.active{
  text-decoration: underline;
}
.hidden {
  display: none;
}