@tailwind base;
@tailwind components;
@tailwind utilities;



.container{
  height: 100%;
  width: 100%;
  overflow-x: none;
  
 
}

#NavList{
  margin: 15px;
  list-style-type: none ;
  display: flex ;
  justify-content: space-between;
  align-items: center;
}

.navcontainer{
  width: 100%;
  background-color: grey;


}

.navlogo{
  font-size: 2rem;
  color: aliceblue;
}
 
#itemflex{
  display: flex;
  gap: 40px ;
}

.card{
  width: 800px;
  height: 400px;
  background-color: grey;
  border-radius: 20px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: [..];
  
}

.card p{
  padding: 5px;
  margin-top: 10px;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
}